<app-card [list]="store.cities()" customClass="bg-light-green">
  <img ngSrc="assets/img/city.png" width="200" height="200" />
  <ng-template #listTemplate let-city>
    <app-list-item>
      {{ city.name }}
      <button (click)="store.deleteOne(city.id)" delete-button>
        <img class="h-5" src="assets/svg/trash.svg" alt="icon trash" />
      </button>
    </app-list-item>
  </ng-template>
  <button
    (click)="store.addOne(addRandomCity())"
    add-button
    class="rounded-lg border border-blue-500 bg-blue-300 p-3">
    Add
  </button>
</app-card>
